
:root{
    --clr-light: #FEFAE0;
    --clr-dark: #283618;
    --clr-primary: #606C38;
    --clr-accent:#BC6C25;
    --clr-accent-light:#DDA15E;
}

body {
   background-color: var(--clr-light);
   color: var(--clr-dark);
   /* transition: all 0.5s ease; */
}

.dark-mode{
    --clr-light: #283618;
    --clr-dark: #FEFAE0;
    --clr-primary: #606C38;
    --clr-accent:#BC6C25;
    --clr-accent-light:#DDA15E;

}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 5px;
    font-size: 300%;
}
h2{
    font-size: 200%;
}

h1:hover {
    color: crimson;
}

h3 {
    font-family: monospace;
}

p {
    font-family: monospace;
    background-color: #8d99ae1f;
    padding: 5px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav_bar{
    display: flex;
    justify-content: right;
    align-content: center;
    padding: 5px;
    
}

.nav_button{
    padding: 10px;
    background-color: var(--clr-accent-light);
    border: none;
    transition: all 0.3s ease;
    width: 50px;
    /* color: var(--clr-dark); */
}
.nav_button:hover{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--clr-accent);
    border-color: #780000;
    transition: all 0.3s ease;
}
.blog_button{
    padding: 10px;
    background-color: var(--clr-accent);
    border: none;
    transition: all 0.3s ease;
}
.blog_button:hover{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--clr-accent-light);
    border-color: #780000;
    transition: all 0.3s ease;
}
#edit-button{
    padding: 5px;
    background-color: var(--clr-primary);
    border: none;
    transition: all 0.3s ease;
    border-radius: 8px;
}
#edit-button:hover{
    padding: 5px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border: none;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.class{
    color: transparent;
}

#main-bar, #blog-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-accent);
    transition: all 0.5s ease;

    position: absolute;
    top: 0;
    right: 0;
    /* left: 0; */
    z-index: 10;

    margin: 8px;
    border-radius: 8px;
    height: 48px;
}

#main-bar-float ,#blog-bar-float{
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-accent);
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 50;
    margin: 8px;
    border-radius: 8px;
    height: 48px;
}

.float_left{
    transform: translateX(-400px);
}

#blog-bar{
    justify-content: left;
    background-color: var(--clr-accent-light);
    top: 48px;
}

#head2,#head3{
    background-color: var(--clr-accent);
    height: 48px;
    display: flex;
    justify-content: left;
}

.nav_blog{
    background-color: var(--clr-accent-light);
}

.post{
    padding: 10px;
    border: solid;
    border-color: var(--clr-dark);
}

.alert{
    background-color: var(--clr-primary);
}

.blog_input{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.light_mode_toggle, .dark_mode_toggle{
    border-radius: 90px;
    padding: 5px;
    border: solid;
    border-color: var(--clr-light);
    margin: 5px;
    transition: all 0.5s ease;
}

/*#################### MOBILE */
@media only screen and (max-width: 1100px) {
    .title{
        color: yellow;
        background-color: black;
        text-align: center;
        padding: 5%;
        font-size: 5vh;
    }

    .mobile{
        display: inline-block
    }
    .pages{
        margin: 5px;
    }
    #bear-backdrop-desktop{
        display: none;
    }
    .nav_button{
        width: auto;
    }
  }

/* #######################DESKTOP */
@media only screen and (min-width:1101px){
    .title{
        color: yellow;
        background-color: black;
        text-align: center;
        padding: 5%;
        font-size: 5vh;
    }

    .pages{
        max-width: 1100px;
        margin: 0 230px;
    }
    #bear-backdrop-mobile{
        display: none;
    }

    .postbox{
        display: flex;
        flex-wrap: wrap;
    }
    .post{
        width: 40%;
        margin: 20px;
    }

    .blog_pages{
        /* max-width: 1400px; */
        margin: 0 100px;
    }

    #nav-bar-float{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-content: center;
        padding: 5px;
    }
    
    #main-bar-float{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-accent);
        transition: all 0.5s ease;
        margin: 8px;
        width: auto;
        height: auto;
    }

    .nav_button{
        width: 100px;
    }
        
}


#hamburger_menu{
    display: none;
    position: fixed;
    right:20px;
    top: 2px;
    z-index: 100;
    transition: all 0.3s ease;
    background-color: #fefae02d;
    border-radius: 90px;
    padding: 10px  10px 5px 10px;
}
.float_left_hamburger{
    /* transform: translatex(-100px); */
    border: solid;
    border-color: var(--clr-dark);
}
/* VERY THIN SCREEN */
@media only screen and (max-width: 490px) {
    #hamburger_menu{
        display: block;
    }
    .float_left{
        transform: translate(-400px, 60px);
    }
    .nav_button{
        width: 100%;
    }
    #main-bar-float{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-accent);
        transition: all 0.5s ease;
        margin: 8px;
        width: auto;
        height: auto;
    }
    #nav-bar-float{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-content: center;
        padding: 5px;
    }
    #main-bar{
        display: none;
    }
    #blog-bar,#head3{
        display: none;
    }
}

img{
    max-width: 100%;
}

#bear-backdrop-mobile, #bear-backdrop-desktop{
    max-width: 100%;
}

.backdrop {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    max-height: 450px;
    color: #FEFAE0;
    font-size: 6rem;
    overflow: hidden;
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.text_image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#sitting-bear{
    max-width: 45%;
    transition: ease all 0.3s;
    border-radius: 12px;
}

.bear_image .source{
    visibility: hidden;
    position: relative;
    top:  15px;
    background-color: #8d99ae63;
    height: 15px;
    font-size: 12px;
}
.bear_image .source a{
    color: antiquewhite;
}
.bear_image:hover .source{
    visibility: visible;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.half_image{
    max-height: 30%;
    border-radius: 12px;
}
.half_text{
    max-width: 45%;
}

.bear_day_container{
    border: groove;
    border-color: var(--clr-dark);
    border-radius: 8px;
    margin: 5px 0;
}
.countdown{
    font-size: larger;
    background-color: transparent;
}

/* ######################################## */

