{% extends 'base.html' %}

{% block content%}


<div class="bear_day_container">
    <div class="flex">
        <div class="half_text">
        <div class ="bear_image">
            <span class="source">
                <a href="https://unsplash.com/@mauricesmeets" target="_blank">
                    Photo by Maurice Smeets
                </a>
            </span>
            <img class="half_image" src="/static/images/panda-sits.jpg" alt="sitting bear">
        </div>
        </div>
            <div>
                <h2> International Panda Day</h1>
                    <p class="countdown">
                        March 16
                        <br><br>
                        <span id="panda-day"></span>
                    </p>
            </div>
            
    </div>

    <div>
        <p>
            Every year on March 16, we celebrate the fluffiest, bamboo-munching bears that are a source of national pride for China. There are two subspecies of panda: The Giant, black and white panda, and the ‘Qinling panda’ – A much smaller, brown subspecies of panda, discovered in 1985 in the mountain ranges of the southern Shaanxi Province in China. In the wilderness, giant pandas live only in the remote, mountainous regions of China. As of 2019, due to rapidly growing population numbers, the status of pandas was upgraded from “endangered” species to “vulnerable” species.
        </p>
    </div>
</div>
<div class="bear_day_container">
    <div class="flex">
        <div class="half_text">
        <div class ="bear_image">
            <span class="source">
                <a href="https://unsplash.com/@hansjurgen007" target="_blank">
                    Photo by Hans-Jurgen Mager
                </a>
            </span>
            <img class="half_image" src="/static/images/two-polar-bears.jpg" alt="sitting bear">
        </div>
        </div>
            <div>
                <h2> International Polar Day</h1>
                    <p class="countdown">
                        Februruary 27
                        <br><br>
                        <span id="polar-bear-day"></span>
                    </p>
            </div>
            
    </div>

    <div>
        <p>
            International Polar Bear Day on February 27 raises awareness on the issues facing polar bears and the ways in which we can reduce our carbon footprint. Climate change is a huge threat to polar bears’ existence and it’s up to us to take action and protect their future. Polar bears are classified as marine mammals, carrying with them a thick layer of body fat and a water-repellent coat to keep them insulated against the icy cold air and water they encounter on the sea ice of the Arctic Ocean. With their territory melting away beneath them, International Polar Bear Day is an important opportunity for us to remind ourselves what is at stake here, preserving the future of these magnificent mammals.
        </p>
    </div>
</div>

<div class="bear_day_container">
    <div class="flex">
        <div class="half_text">
        <div class ="bear_image">
            <span class="source">
                <a href="Oxana Lyashenko
                " target="_blank">
                    Photo by Oxana Lyashenko
                </a>
            </span>
            <img class="half_image" src="/static/images/teddy-bear.jpg" alt="teddy bear">
        </div>
        </div>
            <div>
                <h2> US National Teddy Bear Day</h1>
                    <p class="countdown">
                            November 14
                        <br><br>
                        <span id="teddy-bear-day"></span>
                    </p>
            </div>
            
    </div>

    <div>
        <p>
            Teddy Bear Day is celebrated on September 9 annually, a day set aside for everyone to bring out all their teddy bears to thank them for their companionship, the wonderful moments we’ve had with them, and all the days and nights they’ve comforted us. The teddy bear is one of the most popular toys for children, and it occupies a particular place in the hearts of many adults as well. Teddy Bear Day is a holiday dedicated to this adorable teddy animal. It allows people to take Teddy out of the closet and make them the focus of attention.
        </p>
    </div>
</div>


{% endblock %}