{% extends 'base.html' %}

{% block content%}

<div class="flex">
    <div class="half_text">
    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@binkabonk" target="_blank">
                Photo by Becca
            </a>
        </span>
        <img class="half_image" src="/static/images/portrait-grizzly.jpg" alt="portait of bear">
    </div>
    </div>
        <h1 >Grizzly Bears</h1>
</div>

<div>
    <p>
        The grizzly bear is a North American subspecies of the brown bear. Grizzlies are typically brown, though their fur can appear to be white-tipped, or grizzled, lending them their name. Grizzly bears are protected by law in the continental United States—not in Alaska—though there have been some controversial attempts to remove those protections in recent years.
    <br> <br>
        These awe-inspiring giants tend to be solitary animals—with the exception of females and their cubs—but at times they do congregate. Dramatic gatherings of grizzly bears can be seen at prime Alaskan fishing spots when the salmon run upstream for summer spawning. In this season, dozens of bears may gather to feast on the fish, craving fats that will sustain them through the long winter ahead.
    </p>



    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@capturelight" target="_blank">
                Photo by John Thomas
            </a>
        </span>
        <img  src="/static/images/mountain-grizzly.jpg" alt="bear in hills">
    </div>

    <p>
        Brown bears dig dens for winter hibernation, often holing up in a suitable-looking hillside. Females give birth during this winter rest, often to twins.
    <br> <br>
        Grizzly bears are powerful, top-of-the-food-chain predators, yet much of their diet consists of nuts, berries, fruit, leaves, and roots. Bears also eat other animals, from rodents to moose.
    <br> <br>
        Despite their impressive size, grizzlies have been clocked running at 30 miles an hour. They can be dangerous to humans, particularly if surprised or if humans come between a mother and her cubs.
    </p>

    <div class ="bear_image">
        <span class="source">
            <a href=https://unsplash.com/@itfeelslikefilm target="_blank">
                Photo by 🇸🇮 Janko Ferlič
            </a>
        </span>
        <img  src="/static/images/young-grizzly.jpg" alt="baby brown bear">
    </div>

    <p>
        Grizzlies once lived in much of western North America and even roamed the Great Plains. These animals need a lot of space—their home range can encompass up to 600 square miles—so their ideal habitat is one that is isolated from development and has plenty of food and places to dig their dens.
        <br> <br>
        Though European settlement gradually eliminated the bears from much of their original habitat, grizzly populations can still be found in parts of Wyoming, Montana, Idaho, and Washington State. They’re one of the most iconic residents of Yellowstone National Park. Many grizzlies also still roam the wilds of Canada and Alaska, where hunters pursue them as big game trophies.
    </p>

    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@zmachacek" target="_blank">
                Photo by Zdeněk Macháček
            </a>
        </span>
        <img  src="/static/images/casual-grizzly.jpg" alt="casual bear">
    </div>



{% endblock %}