{% extends 'base.html' %}


{% block content%}
<!-- <img id="bear-backdrop" src="/static/images/backdrop.jpg" alt=""> -->


<!-- <h2>{% block title %} Home {% endblock %}</h2> -->

<div class="flex">
    <div class="half_text">
    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@didiofederico_photographer" target="_blank">
                Photo by Mark Basarab
            </a>
        </span>
        <img class="half_image" src="/static/images/sitting-bear.jpg" alt="sitting bear">
    </div>
    </div>
        <h1 >Bears</h1>
</div>

<div>
    <p>
        Bears are mammals that belong to the family Ursidae. They can be as small as four feet long and about 60 pounds (the sun bear) to as big as eight feet long and more than a thousand pounds (the polar bear). They’re found throughout North America, South America, Europe, and Asia.
    <br><br>
        They have nonretractable claws, short tails, and excellent sense of smell. They’re typically solitary, except for mothers with cubs. There are eight species: Asiatic black bears (also called moon bears), brown bears (which include grizzly bears), giant pandas, North American black bears, polar bears, sloth bears, spectacled bears (also called Andean bears), and sun bears.
    <br><br>    
        On average, bears can live up to 25 years in the wild and 50 in captivity. Six species, including the polar bear and the giant panda, are included on the IUCN Red List as threatened or vulnerable.
    </p>

    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@annatre" target="_blank">
                Photo by Anna Tremewan
            </a>
        </span>
        <img  src="/static/images/bear-river.jpg" alt="">
    </div>

    <p>
        During winter, when food is scarce, most bears have an effective survival solution: hibernation, a physical state in which the heart rate, body temperature, metabolism, and respiration is lowered. Grizzly and black bears can go for 100 days or so without eating, drinking, urinating, or defecating. They live off a layer of fat that they build up during the summer and fall.
    <br><br>
        Female bears rouse during hibernation in their dens to give birth to up to four cubs. Giant pandas, which do not hibernate, usually give birth to just one cub. After a couple of months, the cubs are strong enough to totter out after their mother—except for sloth bear cubs, which hitch a ride on their mother’s back.
    </p>

    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@didiofederico_photographer" target="_blank">
                Photo by Federico Di Dio
            </a>
        </span>
        <img  src="/static/images/bear-woods.jpg" alt="bear in woods">
    </div>

    <p>
        All bears are considered omnivores—and yes, they all love the taste of honey—but each species has a preferred diet. Polar mostly eat seals. American black bears love berries and insect larvae when they’re available, and giant pandas mainly eat bamboo, though they’ll also eat small animals. Despite their name, sloth bears are ferociously fast eaters, able to tear a hole in a termite mound, push their noses inside, and inhale a full meal in just a few seconds. Brown bears in Alaska gorge on spawning salmon, plucking them from the water or catching them right out of the air as they jump.
    </p>

    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@veverkol" target="_blank">
                Photo by Dušan veverkolog
            </a>
        </span>
        <img  src="/static/images/sun-bear.jpg" alt="sun bear">
    </div>

    <p>
        Among the biggest threats to all species of bears is habitat loss, especially from logging, agriculture, and growing human populations. Habitat loss reduces the amount of area bears have to hunt and means they’re increasingly coming into contact with humans, which can lead to human-wildlife conflict. Bears are killed out of concern for human safety or in retaliation for hunting livestock or crop-raiding.
    <br><br>
        Some species of bears, including Asiatic black bears and sun bears, are also threatened by the illegal wildlife trade. Bear bile, which is produced in the gall bladder, is an important ingredient in traditional Chinese medicine. Asiatic black bears and sun bears may be poached for their gall bladders, paws, skins, and other parts. Sometimes American black bears are also targeted for the same reasons.
     <br><br>
        Climate change is also a significant threat, especially polar bears. They depend on finding seals on sea ice for their meals, and they’ll often pass the summer months without eating while they wait for ice to solidify. Melting sea ice poses an existential threat to polar bears.
    </p>


    <div class ="bear_image">
        <span class="source">
            <a href="https://unsplash.com/@danaward" target="_blank">
                Photo by Dana Ward
            </a>
        </span>
        <img  src="/static/images/sloth-bear.jpg" alt="sloth bear">
    </div>
</div>


{% endblock %}